{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}Egg Time{% endif %}
{% endblock %}

{% block content %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<div class="container">
    <div class="col-sm-8">
        {% with messages = get_flashed_messages(with_categories=true) %}                                                                              
            {% if messages %}                                                                                                                         
                {% for category, message in messages %}                                                                                               
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>                                                          
                {% endfor %}                                                                                                                          
            {% endif %}                                                                                                                               
        {% endwith %}                                                                                                                                 
        {% block app_content %}                                                                                                                       
        {% endblock %}                                                                                                                                
    </div>
</div>
{% endblock content %}
